##################################################################################
#
# Olza Logistic's API client
#
# @author    Jozef Liška <jozef.liska (#) develart (.) cz>
# @copyright 2024 DevelArt
# @license   http://www.opensource.org/licenses/mit-license.php MIT
# @link      https://github.com/develart-projects/olza-logisctic-api-client
#
##################################################################################
#
# Runs unit tests
#

name: "Unit Tests"

on:
  push:
    branches:
    - "master"
    - "dev"
  pull_request:
    branches:
    - "master"
    - "dev"

jobs:
  tests:
    runs-on: ubuntu-22.04

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: "Checkout repository…"
        uses: actions/checkout@v3

      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          php_version: "7.1"
          version: "2.2.x"
        
      - name: "Running PHPUnit…"
        shell: bash
        run: composer test
